* {
	margin: 0px;
	padding: 0px;
}

html {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

body {
	font: 15px Helvetica, Arial, sans-serif;
	color: #002200;
	background: #CCEECC
}

ul {
	margin: 10px 35px;
}

a {
	color: #CC1111;
	text-decoration: none;
}

a:hover {
	color: #EE3333;
}

#page_header {
	margin: 0px 0px 20px 0px;
	padding: 20px 0px;
	text-align: center;
	font-size: 1.8em;
	color: #FFFFFF;
	background: #008822;
	-moz-user-select: text;
	-khtml-user-select: text;
	-webkit-user-select: text;
	user-select: text;
}

#game_description {
	width: 888px;
	margin: 0px auto 20px auto;
	padding: 6px;
	background: #88BB88;
	-moz-user-select: text;
	-khtml-user-select: text;
	-webkit-user-select: text;
	user-select: text;
}

#game_description p {
	margin: 0px 0px 8px 0px;
}

.help {
    left: 20%;
    top: 35%;
    position: absolute;
    z-index: 1010;
    background: #ffff00;
    padding: 10px;
    opacity: 1;
    display: none;
}

.help_button {
    height: 18px;
    width: 18px;
}

.fade {
    width: 100%;
    height: 100%;
    background: #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1005;
    filter: alpha(opacity=80);
    opacity: 0.8;
    display: none;
}

.close {
    width: 100px;
    margin: auto;
}


#game {
	height: 450px;
	width: 900px;
	margin: 0px auto 40px auto;
	background: #888888;
}

#console {
	width: 900px;
	margin: 0px auto 20px auto;
	background: #EEFFEE;
	-moz-user-select: text;
	-khtml-user-select: text;
	-webkit-user-select: text;
	user-select: text;
}

#console h2 {
	padding: 3px 0px;
	font-size: 1.5em;
	text-align: center;
}

#console p {
	padding: 2px 8px;
}

#console_items {
	height: 300px;
	overflow-y: scroll;
}
