* {
	margin: 0px;
	padding: 0px;
}

html {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

body {
	font: 15px Helvetica, Arial, sans-serif;
	color: #002200;
	background: #CCEECC
}

ul {
	margin: 10px 35px;
}

a {
	color: #CC1111;
	text-decoration: none;
}

a:hover {
	color: #EE3333;
}

#page_header {
	margin: 0px 0px 20px 0px;
	padding: 20px 0px;
	text-align: center;
	font-size: 1.8em;
	color: #FFFFFF;
	background: #008822;
	-moz-user-select: text;
	-khtml-user-select: text;
	-webkit-user-select: text;
	user-select: text;
}

#game_description {
	width: 888px;
	margin: 0px auto 20px auto;
	padding: 6px;
	background: #88BB88;
	-moz-user-select: text;
	-khtml-user-select: text;
	-webkit-user-select: text;
	user-select: text;
}

#game_description p {
	margin: 0px 0px 8px 0px;
}

#game {
	height: 450px;
	width: 900px;
	margin: 0px auto 40px auto;
	background: #888888;
}

#music {
	width: 300px;
	margin: 0px auto 40px auto;
}

#console {
	width: 900px;
	margin: 0px auto 20px auto;
	background: #EEFFEE;
	-moz-user-select: text;
	-khtml-user-select: text;
	-webkit-user-select: text;
	user-select: text;
}

#console h2 {
	padding: 3px 0px;
	font-size: 1.5em;
	text-align: center;
}

#console p {
	padding: 2px 8px;
}

#console_items {
	height: 300px;
	overflow-y: scroll;
}
